@font-face {
    font-family: 'Minecraft UI';
    src: url('fonts/Minecraft.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Minecraft UI', monospace;
    background-color: #000000;
    color: #ffffff;
    
    image-rendering: pixelated;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    font-smooth: never;
}

section {
    scroll-margin-top: 50px;
}

h1, h2, h3, nav a, .tech-card span, button, .minecraft-shadow {
    text-shadow: 2px 2px 0px #2c2c2c;
}

.bg-white {
    text-shadow: 1px 1px 0px #b5b5b5 !important;
}

.cursor {
    display: inline-block;
    width: 0.15em;           
    height: 0.9em;           
    background-color: #ffffff;
    animation: blink 0.8s infinite;
    vertical-align: bottom;
    margin-left: 6px;        
    
    box-shadow: 1.5px 1.5px 0px #2c2c2c; 
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.tech-card {
    border: 2px solid #1a1a1a;
    transition: all 0.2s ease;
}

.tech-card:hover {
    border-color: #ffffff;
    box-shadow: 4px 4px 0px #1a1a1a;
    transform: translate(-2px, -2px);
}